.ball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f2f2f2;
    border: 2px solid #000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

h2 {
    font-size: 40px;
}

.ball.white {
    background-color: #fefae0;
    color: #fff;
}

.ball.blue {
    background-color: #1b458f;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'myriad-pro', sans-serif;
    font-weight: 700;
    font-style: normal;
}

body {
    background-color: #000040;
    color: #fff;
    margin: 0;
    width: 100%;
    height: 100vh;
    text-align: left;
}

.header {
    text-align: center;
    margin: 50px;
    font-size: 25px;
    color: #ffffff;
}


@font-face {
    font-family: 'Champions';
    src: url('fonts/Champions-Bold.eot'); 
    src: url('fonts/Champions-Bold.eot') format('embedded-opentype'), 
         url('fonts/Champions-Bold.woff') format('woff'), 
         url('fonts/Champions-Bold.ttf')  format('truetype'), 
         url('fonts/Champions-Bold.svg') format('svg'); 
}

.header h1 {
    color: #FFF;
    font-family: 'Champions';
}

.header span {
    color: red;
    font-family: 'Champions';
}

.button-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFD700; 
    color: #333; 
    text-align: center;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 500px;
    margin: 10px;
}

.btn:hover {
background-color: #FFC000; 
}
  

.pots {
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.tableHeaders {
    width: 49.5px;
    height: 39px;
}

.potsTable {
    border: 3px solid #FFC000;
    margin: 55px;
}

.teamsImgs {
    width: 32px;
    height: 32px;
}

.hide {
    display: none !important;
}

.groupStageTable {
    border: 3px solid #FFC000;
    border-collapse: collapse;
    float: left;
    width: 18%;
    font-size: 20px;
    padding-right: 1rem;
    margin: 0px;
}

@media (max-width: 1200px) {
    .groupStageTable, .tabsContainer, .groupStageMatches {
        max-width: 100%;
    }
}

.groupStageTable td,
.groupStageTable th {
    border-bottom: 1px solid #FFC000; 
}

.groupStageTable thead tr {
    border-bottom: 2px solid #FFC000;
}


.groupStageTable td:first-child {
    border-left: 1px solid #FFC000; 
}


.groupStageTable td:last-child {
    border-right: 1px solid #FFC000; 
}


.potsBalls {
    width: 85%;
    display: flex;
    margin: 100px 100px;
    justify-content: center;
    align-items: center;
}

.continueDraw {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1228px) {
    .potsTable {
        font-size: 16px;
    }
}

@media screen and (max-width: 1141px) {
    .potsTable {
        font-size: 14px;
    }
}

@media screen and (max-width: 1017px) {
    .pots {
        width: 80%;
        margin-left: 90px;
    }
    .potsTable {
        margin: 20px;
    }
}

@media screen and (max-width: 690px) {
    .pots {
        width: 86%;
        margin-left: 50px;
    }
}


@media screen and (max-width: 500px) {
    .pots {
        margin-left: 30px;
    }

    .potsBalls {
        margin: 50px 45px;
    }
}

ul {
list-style: none;
}

a {
text-decoration: none;
color: black;
}

    
.tabs-container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 25px;
    font-size: 15px;
}

#tabsRO16 a {
    width: 200px;
}

.tabs {
    display: flex;
}

.tabs li:not(:last-child) {
margin-right: 7px;
}

.tabs li a {
display: block;
position: relative;
top: 4px;
padding: 10px 25px;
border-radius: 2px 2px 0 0;
background: white;
opacity: 0.7;
transition: all 0.1s ease-in-out;
}

.tabs li.active a,
.tabs li a:hover {
opacity: 1;
top: 0;
}

.tabs-content {
position: relative;
z-index: 2;
padding: 25px;
border-radius: 0 4px 4px 4px;
}

.tabs-panel {
display: none;
}

.tabs-panel.active {
display: block;
}

.tabs-panel p + div {
margin-top: 15px;
}

@media screen and (max-width: 600px) {
.tabs {
    flex-direction: column;
}

.tabs li {
    width: 100%;
}

.tabs li:not(:last-child) {
    margin-right: 0;
}

.tabs li a {
    border-radius: 0;
    opacity: 1;
    top: 0;
}

.tabs li.active a::before {
    content: "•";
    padding-right: 5px;
}

.tabs-content {
    border-radius: 0;
}
}
  
.group-active {
    margin-top: -50px;
    width: 100%;
}

.group-active th {
    margin-right: 0px;
}

.tableTeamStats {
    margin-right: -10px;
    width: 60px;
}

.groupSpacing {
    margin-bottom: 4vh;
    margin-top: 4vh;
    width: 100%;
    position: relative;
}

.GSTableMatches {
    border: 2px solid #FFC000;
    padding-right: 1rem;
    margin: 45px;
    table-layout: fixed;
    width: 960px; 
    border-collapse: collapse;
    margin-bottom: 30px;
    font-size: 16px;
}


.teamName {
    margin-left: 5px; 
    vertical-align: top;
    margin-top: 20px;
}

.homeTeam img {
    margin-right: 5px; 
}

.awayTeam img {
    margin-left: 5px; 
}

.GSTableMatches td,
.GSTableMatches th {
    border-bottom: 1px solid #FFC000; 
}

.fixtureRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .homeTeam {
    display: flex;
    justify-content: flex-start;
  }
  
  .awayTeam {
    display: flex;
    justify-content: flex-end;
  }
  
  .homeTeamLogo, .awayTeamLogo {
    margin-right: 10px
  }

  .fixtureVS {
    position: absolute;
    margin-left: 450px;
  }

.homeTeamScore {
    position: absolute;
    margin-left: 350px;
    display: flex;
    align-items: center;
    font-size: 26px;
}

.awayTeamScore {
    position: absolute;
    margin-right: 350px;
    display: flex;
    align-items: center;
    font-size: 26px;
}

.hideTable span {
    display: none;
}

.gifContainer {
    position: relative;
    top: -50px;
}

.drawingGif {
    display: inline-block;
    width: 192px;
    height: 192px;
    position: relative;
    top: 20%;
    left: 20%;
    transform: translate(220%, -30%);
}

.expandedInfo {
    display: none;
}

.expanded {
    display: table-row;
}

.show {
    display: block;
    padding: 15px; 
    margin-bottom: 20px;
    border-bottom: 1px solid #FFC000;
}

.details {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    transition: height 0.5 ease;
}

.stadium, .attendance {
    text-align: center;
}

.goalMinute {
    color: red;
}

.home {
    text-align: left;
}

.away {
    text-align: right;
}

.fixtureRow:hover {
    background-color: #1e3c70;
    cursor: pointer;
}

.scorers {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.topScorersTable {
    width: 100%;
    border-collapse: collapse;
}

.statsTHeader, .topScorerRank, .topScorerName, .topScorerTeam, .topScorerGoals {
    border: 1px solid #ddd;
    padding: 8px;
}

.statsTHeader {
    font-weight: bold;
    text-align: left;
}

.topScorerRank {
    width: 5%;
}

.topScorerName, .topScorerTeam {
    width: 30%;
}

.topScorerGoals {
    width: 10%;
    text-align: center;
}

#RO16Matches {
    margin-top: -50px;
    display: flex;
    justify-content: center;
}

.QFMatches, .SFMatches, .finalMatch {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finalMatch {
    margin-top: -200px;
}

.hr {
    margin-top: 17px;
}

.globalScore {
    text-align: center;
    font-weight: bold;
}

.globalScoreValue {
    font-size: 18px;
}

.finalMatch {
    display: flex;
    justify-content: center; 
    align-items: center;    
    flex-direction: column;
}

.trophyDiv {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    text-align: center;     
}

.winner {
    font-size: 24px;
    margin-bottom: 10px;
}

.table {
    margin-bottom: 1rem;
    color: #212529;
    width: 100%;
}

.tableHeader {
    border: 3px solid #FFD700;
}

.groupStageTable th, td, .fixtureRow {
    padding: 4px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.groupStageTable thead th {
    border-top: 1px solid #FFD700;
}

.GSTeamName {
    font-size: 14pt;
    color: white;
    vertical-align: middle !important;
}

.groupStageTable tbody {
    border: 3px solid #FFD700;
}

.GSTables {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tables-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.groupStageMatches {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fixtureRow {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #FFC000;
    position: relative;
}

.homeTeam, .awayTeam {
    display: flex;
    align-items: center;
    width: 47.5%;
}

.homeTeam {
    justify-content: flex-start;
}

.awayTeam {
    justify-content: flex-end;
}

.homeTeamLogo, .awayTeamLogo {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    flex-shrink: 0;
}

.teamsImgs {
    max-width: 100%;
    height: auto;
}

.homeTeamName, .awayTeamName {
    margin: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.homeTeamScore {
    font-size: 18px;
    font-weight: bold;
    margin: 0 5px 0 400px;
    flex-shrink: 0;
}

.awayTeamScore {
    font-size: 18px;
    font-weight: bold;
    margin-right: 450px;
    flex-shrink: 0;
}

.fixtureVS {
    position: absolute;
    left: 0%;
    transform: translateX(-50%);
    font-weight: bold;
    flex-shrink: 0;
}

.details {
    width: 95%;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

@media screen and (max-width: 1000px) {
    .GSTableMatches {
        width: 800px;
    }

    .fixtureVS {
        width: 100px;
    }

    .groupStageTable {
        width: 95%;
    }

    .homeTeamScore {
        margin-left: 350px;
    }

    .awayTeamScore {
        margin-right: 320px;
    }

    .trophy {
        width: 80%;
    }

    .winner {
        font-size: 20px;
    }

    .btn {
        font-size: 15px;
    }
}

@media screen and (max-width: 840px) {
    .GSTableMatches {
        width: 700px;
        font-size: 14px;
    }

    .homeTeamLogo, .awayTeamLogo {
        width: 25px;
        height: 25px;
    }

    .homeTeamScore, .awayTeamScore {
        font-size: 16px;
    }

    .homeTeamScore {
        margin-left: 300px;
    }
    .awayTeamScore {
        margin-right: 280px;
    }
    .fixtureVS {
        width: 200px;
    }

    .groupStageTable {
        width: 90%;
    }

    .trophy {
        width: 60%;
    }

    .winner {
        font-size: 18px;
    }

    .btn {
        font-size: 14px;
    }
}

@media screen and (max-width: 740px) {
    .GSTableMatches {
        width: 600px;
    }

    .fixtureVS {
        width: 300px;
    }

    .groupStageTable {
        width: 85%;
    }

    .homeTeamScore {
        margin-left: 250px;
    }
    .awayTeamScore {
        margin-right: 230px;
    }

    .trophy {
        width: 40%;
    }

    .winner {
        font-size: 16px;
    }
    
    .btn {
        font-size: 13px;
    }
}

@media screen and (max-width: 640px) {
    .GSTableMatches {
        width: 500px;
        font-size: 12px;
    }

    .homeTeamLogo, .awayTeamLogo {
        width: 20px;
        height: 20px;
    }

    .homeTeamScore, .awayTeamScore {
        font-size: 14px;
    }

    .homeTeamScore {
        margin-left: 200px;
    }
    .awayTeamScore {
        margin-right: 180px;
    }

    .fixtureVS {
        width: 400px;
    }

    .groupStageTable, .GSTeamName {
        width: 80%;
        font-size: 14px;
    }

    .trophy {
        width: 20%;
    }

    .winner {
        font-size: 14px;
    }

    .btn {
        font-size:12px;
    }
}

@media screen and (max-width: 540px) {
    .GSTableMatches {
        width: 400px;
    }

    .fixtureVS {
        font-size: 10px;
    }

    .details {
        font-size: 10px;
    }

    .fixtureVS {
        width: 500px;
    }

    .groupStageTable, .GSTeamName {
        width: 2px;
        font-size: 12px;
    }

    .homeTeamScore {
        margin-left: 150px;
    }
    .awayTeamScore {
        margin-right: 130px;
    }

    .winner {
        font-size: 12px;
    }

    .btn {
        font-size: 11px;
    }
}

@media screen and (max-width: 440px) {
    .GSTableMatches {
        width: 300px;
    }

    .fixtureVS {
        width: 600px;
    }
    
    .homeTeamScore {
        margin-left: 120px;
    }
    .awayTeamScore {
        margin-right: 100px;
    }
}

#groupAMatches:nth-child(1) {
    order: 3;
}

#groupAMatches:nth-child(2) {
    order: 2;
}

#groupAMatches:nth-child(3) {
    order: 1;
}
